

.breadcrumb {
	padding: 0;
	margin-bottom: 0;
	background-color: transparent;
	border-radius: 0;
	font-size:1.8rem;
	text-transform: uppercase;
	li {
		margin-right:5.6rem;
		&:last-child{
			margin-right:0;
		}
		&:before {
			display:none;
		}
		a {
			color:@rosy-brown-color;
		}
		&.active {
			color:@red-bordeaux-color;
		}
	}
}