

.btn {
	text-transform: uppercase;
	font-size:1.3rem;
	
	&.btn-default {
		font-size:1.4rem;
		height:4.1rem;
		line-height:4rem;
		padding:0 2.8rem;
		border-radius:5rem;
		background-color:@dark-turquoise-color;
		color:@white-color;
		border:none;
		
		.btn-hover;
		
		&:focus,
		&:active {
			background-color:@dark-turquoise-color;
			color:@white-color;
		}
		
		&:hover {
			opacity:0.9;
		}
	}
	
	&.font-raleway {
		font-family: 'Raleway', sans-serif;
		color:@white-color;
	}
	
	&.w-sm {
		max-width:40rem;
		width:100%;
	}
	
	&.w-xs {
		max-width:28rem;
		width:100%;
	}
}

.btn-hover {
	position:relative;
	overflow:hidden;
	&:before,
	&:after {
		content: ""; 
		width: 100%; 
		height: 0; 
		position: absolute; 
		transition:.3s; 
		z-index: -1;
	}
	&:before{
		background-color: #42c2a8; 
		left: 0; 
		bottom: 51%;
	}
	&:after{
		background-color: #42c2a8; 
		right: 0; 
		top: 51%;
	}
	&:hover {
		&:before,
		&:after {
			height: 51%;
		}
		&:before{
			bottom: 0;
		}
		&:after{
			top: 0;
		}
	}
}

.form-group {
	margin-bottom:2rem;
	position:relative;
	.control-label {
	    color: #21313a;
		font-size:1.6rem;
		font-weight:300;
		margin-bottom:1rem;
		position:absolute;
		padding:0 .6rem;
		top:2rem;
		left:1.2rem;
		z-index:8;
		transition: all .2s ease 0s;
	}
	.form-control {
		padding:0rem 2rem;
		height:6rem;
		line-height:6rem;
		border-radius:.2rem;
		position:relative;
		z-index:9;
		background:none transparent;
		&:focus,
		&:active {
			box-shadow:none;
		}
	}
	&.active {
		.control-label {
			top:-1.1rem;
			background-color:#fff;
			z-index:10;
		}
	}
}

.showpass {
	position: absolute; 
	top:1.7rem;
	right:2rem;
	z-index:12;
	display:block;
	&:after {
		font: normal normal normal 14px/1 FontAwesome;
		content: "\f06e"; 
		font-size:2.4rem;
		height: 0; 
		display:block;
		cursor: pointer;
	}
}

.field-password-active {
	.showpass {
		&:after {
			content: "\f070"; 	
		}
	}
}