
.btn-group {
	.btn {
		.caret {
			margin-left:1rem;
			border-width: .5rem;
			border-top-color:@white-color;
		}
	}
}
@media (min-width: 768px) {
	.btn-group,
	.dropdown {
		&:hover {
			> a {
				border-bottom-color:@white-color !important;
			}
			.dropdown-menu {
				display:block;
			}
		}
	}
}
.dropdown-menu {
	margin-top:-.6rem;
	&:before,
	&:after {
		position: absolute;
		display: inline-block;
		content: '';
	}
	&:before {
		top: -.7rem;
		left: .9rem;
		border-right: .7rem solid transparent;
		border-bottom: .7rem solid #ccc;
		border-left: .7rem solid transparent;
		border-bottom-color: rgba(0, 0, 0, 0.2);
	  
	}
	
	&:after {
		top: -.6rem;
		left: 1rem;
		border-right: .6rem solid transparent;
		border-bottom: .6rem solid @white-color;
		border-left: .6rem solid transparent;
	}
	
	&.dropdown-menu-right {
		&:before {
			left:auto;
			right:.9rem;
		}
		&:after {
			left:auto;
			right:1rem;
		}
	}
	
	li {
		padding:.2rem 0;
		a {
			font-weight:300 !important;
			font-size:1.3rem;
			font-family: 'Raleway',sans-serif;
			text-transform: none;
			&:hover {
				color:@white-color;
				background-color:@red-bordeaux-color;
			}
		}
	}
	
	/* &.size-xs {
		min-width:14rem;
	} */
}
