

@media (max-width: 768px) {
	.modal {
		margin:1.5rem;
	}
	
}

.modal-content {
	font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
	border-radius:0;
}
.modal-backdrop {
	background-color:#fff;
}
.modal-backdrop.in {
	opacity:.9;
}
.modal-header {
	background-color:@red-bordeaux-color;
	text-align:center;
	padding:1.1rem 1.5rem;
	.modal-title {
		text-transform: uppercase;
		color:@white-color;
		font-size:2.4rem;
		font-weight:300;
	}
}

.modal-body {
	padding:1.5rem 2rem 4rem; 
	.modal-title-body {
		font-size:1.6rem;
		color:#21313a;
		text-align:center;
		margin: 0;
		padding: 1.9rem 0 3.5rem;
		border-bottom:.2rem solid #efefef;
		margin-bottom:2.9rem;
	}
}

p.already {
	margin-top:1.5rem;
	a {
		color:#7f5674;
	}
}

.alert-danger {
	padding: 1.5rem 2rem;
	border-radius: .2rem;
	font-size: 1.8rem;
	color:#fff;
	background-color:#21b799;
	border-color:#21b799;
}
.modal-dialog-login {
	width:auto;
	max-width: 49.2rem;
}
.modal-dialog-registration {
	width:auto;
	max-width: 76rem;
}
