/* Open Sans @font-face kit */
/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Light/OpenSans-Light.eot');
  src: url('../fonts/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Light/OpenSans-Light.woff') format('woff'), url('../fonts/Light/OpenSans-Light.ttf') format('truetype'), url('../fonts/Light/OpenSans-Light.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/LightItalic/OpenSans-LightItalic.eot');
  src: url('../fonts/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/LightItalic/OpenSans-LightItalic.woff') format('woff'), url('../fonts/LightItalic/OpenSans-LightItalic.ttf') format('truetype'), url('../fonts/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Regular/OpenSans-Regular.eot');
  src: url('../fonts/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Regular/OpenSans-Regular.woff') format('woff'), url('../fonts/Regular/OpenSans-Regular.ttf') format('truetype'), url('../fonts/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Italic/OpenSans-Italic.eot');
  src: url('../fonts/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Italic/OpenSans-Italic.woff') format('woff'), url('../fonts/Italic/OpenSans-Italic.ttf') format('truetype'), url('../fonts/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Semibold/OpenSans-Semibold.eot');
  src: url('../fonts/Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/Semibold/OpenSans-Semibold.woff') format('woff'), url('../fonts/Semibold/OpenSans-Semibold.ttf') format('truetype'), url('../fonts/Semibold/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot');
  src: url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'), url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'), url('../fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Bold/OpenSans-Bold.eot');
  src: url('../fonts/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Bold/OpenSans-Bold.woff') format('woff'), url('../fonts/Bold/OpenSans-Bold.ttf') format('truetype'), url('../fonts/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/BoldItalic/OpenSans-BoldItalic.eot');
  src: url('../fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/BoldItalic/OpenSans-BoldItalic.woff') format('woff'), url('../fonts/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'), url('../fonts/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/ExtraBold/OpenSans-ExtraBold.eot');
  src: url('../fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/ExtraBold/OpenSans-ExtraBold.woff') format('woff'), url('../fonts/ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'), url('../fonts/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');
  src: url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'), url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'), url('../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}
/* END Extrabold Italic */
body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
.container {
  max-width: 1561px;
  width: 100%;
}
.container-sm {
  max-width: 1299px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.container-xs {
  max-width: 991px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
/* ----- Title ----- */
h2.title {
  font-size: 4.8rem;
  font-weight: 300;
  color: #000000;
  margin: 0;
}
h2.title.font-large {
  font-size: 5rem;
  color: #ffffff;
  line-height: 5.9rem;
}
h2.title span.sub-title {
  display: block;
  font-size: 2.4rem;
  margin-top: 1.2rem;
}
@media (max-width: 760px) {
  h2.title {
    font-size: 3.2rem !important;
    line-height: 4rem !important;
  }
  h2.title span.sub-title {
    font-size: 1.6rem;
    margin-top: .7rem;
    line-height: 2rem;
  }
}
h3.title {
  font-size: 3.6rem;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}
@media (max-width: 807px) {
  h3.title {
    font-size: 3rem;
  }
}
h4.title {
  font-size: 1.6rem;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}
/* ----- Title End----- */
#footer-container {
  background-color: #211819;
  padding: 2.5rem 0 6.7rem;
  color: #ffffff;
}
#footer-container .contact-footer {
  overflow: hidden;
}
#footer-container .contact-footer h4.title-contact {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: .2rem 0 1.5rem 0;
}
@media (max-width: 1200px) {
  #footer-container .contact-footer {
    margin-top: 2rem;
  }
}
#footer-container .contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer-container .contact-list li {
  display: inline-block;
  margin-right: 3.5rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  vertical-align: top;
  font-size: 1.2rem;
}
#footer-container .contact-list li:last-child {
  margin-right: 0;
}
#footer-container .contact-list li span,
#footer-container .contact-list li a {
  color: #ffffff;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
#footer-container .contact-list li .icon {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  background: url( '/cloudbridge/static/src/img/front/sprite.png' ) no-repeat 0px 0px;
  margin-right: .5rem;
  float: left;
}
#footer-container .contact-list li.address .icon {
  background-position: 0px 4px;
  height: 30px;
}
#footer-container .contact-list li.address br {
  display: none;
}
@media (max-width: 1295px) {
  #footer-container .contact-list li.address br {
    display: inline;
  }
}
#footer-container .contact-list li.address span {
  min-height: 3.2rem;
  line-height: 3.4rem;
}
@media (max-width: 1295px) {
  #footer-container .contact-list li.address span {
    line-height: normal;
  }
}
@media (min-width: 1295px) {
  #footer-container .contact-list li.address {
    margin-top: -2px;
  }
  #footer-container .contact-list li.address .icon {
    background-position: 0px 0px;
  }
  #footer-container .contact-list li.address span {
    line-height: 2.2rem;
  }
}
#footer-container .contact-list li.phone .icon {
  background-position: -29px 0;
}
#footer-container .contact-list li.email .icon {
  background-position: -62px 2px;
}
#footer-container .contact-list li.time {
  margin-top: .1rem;
}
#footer-container .contact-list li.time .icon {
  background-position: -97px 2px;
}
@media (max-width: 768px) {
  #footer-container .contact-list li {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  #footer-container .contact-list {
    margin-top: 2rem;
  }
}
#footer-container .container {
  position: relative;
}
#footer-container .hot-air-balloon {
  display: block;
  background: url('/cloudbridge/static/src/img/front/hot-air-balloon.png') no-repeat 0 0;
  background-size: 100%;
  width: 9.1rem;
  height: 13.4rem;
  position: absolute;
  top: -6.5rem;
  right: 1.5rem;
}
@media (max-width: 1140px) {
  #footer-container .hot-air-balloon {
    top: -11.5rem;
  }
}
@media (max-width: 1140px) and (max-width: 1045px) {
  #footer-container .hot-air-balloon {
    top: -6.5rem;
  }
}
a.logo-footer {
  display: block;
  width: 8.7rem;
  height: 5.3rem;
  text-indent: -999.9rem;
  background: url('/cloudbridge/static/src/img/front/logo.png') no-repeat 0 0;
  background-size: 100%;
  margin-right: 3.7rem;
}
.oe_website_login_container {
  max-width: 1561px;
  width: 100%;
  width: 100% !important;
}
.oe_website_login_container .oe_login_form {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
}
.oe_website_login_container .oe_login_form .btn.btn-success,
.oe_website_login_container .oe_login_form .btn.btn-primary {
  font-size: 1.4rem;
  height: 4.1rem;
  line-height: 4rem;
  padding: 0 2.8rem;
  border-radius: 5rem;
  background-color: #00a69b;
  color: #ffffff;
  border: none;
  position: relative;
  overflow: hidden;
}
.oe_website_login_container .oe_login_form .btn.btn-success:before,
.oe_website_login_container .oe_login_form .btn.btn-primary:before,
.oe_website_login_container .oe_login_form .btn.btn-success:after,
.oe_website_login_container .oe_login_form .btn.btn-primary:after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  transition: .3s;
  z-index: -1;
}
.oe_website_login_container .oe_login_form .btn.btn-success:before,
.oe_website_login_container .oe_login_form .btn.btn-primary:before {
  background-color: #42c2a8;
  left: 0;
  bottom: 51%;
}
.oe_website_login_container .oe_login_form .btn.btn-success:after,
.oe_website_login_container .oe_login_form .btn.btn-primary:after {
  background-color: #42c2a8;
  right: 0;
  top: 51%;
}
.oe_website_login_container .oe_login_form .btn.btn-success:hover:before,
.oe_website_login_container .oe_login_form .btn.btn-primary:hover:before,
.oe_website_login_container .oe_login_form .btn.btn-success:hover:after,
.oe_website_login_container .oe_login_form .btn.btn-primary:hover:after {
  height: 51%;
}
.oe_website_login_container .oe_login_form .btn.btn-success:hover:before,
.oe_website_login_container .oe_login_form .btn.btn-primary:hover:before {
  bottom: 0;
}
.oe_website_login_container .oe_login_form .btn.btn-success:hover:after,
.oe_website_login_container .oe_login_form .btn.btn-primary:hover:after {
  top: 0;
}
.oe_website_login_container .oe_login_form .btn.btn-success:focus,
.oe_website_login_container .oe_login_form .btn.btn-primary:focus,
.oe_website_login_container .oe_login_form .btn.btn-success:active,
.oe_website_login_container .oe_login_form .btn.btn-primary:active {
  background-color: #00a69b;
  color: #ffffff;
}
.oe_website_login_container .oe_login_form .btn.btn-success:hover,
.oe_website_login_container .oe_login_form .btn.btn-primary:hover {
  opacity: 0.9;
}
.oe_website_login_container .oe_login_form .btn.btn-success {
  background-color: #286090;
}
.oe_website_login_container .oe_login_form .btn.btn-link {
  text-transform: none;
}
.oe_website_login_container .oe_login_form .oe_login_buttons {
  margin-top: 0 !important;
  margin-bottom: 2rem;
}
.oe_website_login_container .oe_login_form .oe_login_buttons:last-child {
  margin-bottom: 0;
}
.oe_website_login_container .oe_login_form .oe_login_buttons a {
  float: right;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  color: #786281;
}
.oe_website_login_container .oe_login_form .oe_login_buttons a:last-child {
  margin-right: 2rem;
}
.oe_website_login_container .oe_login_form .oe_login_buttons .btn-primary {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.oe_website_login_container .oe_login_form .oe_login_buttons .pull-right {
  margin-bottom: 2rem;
}
.oe_website_login_container .oe_login_form .oe_login_buttons .pull-right a {
  margin: 0;
}
.container-background {
  padding-bottom: 7rem;
  padding-top: 3rem;
  background: url('/cloudbridge/static/src/img/front/background.png') no-repeat 0 0;
  background-size: 100%;
  background-attachment: fixed;
}
.container-background .modal-dialog {
  margin: 0 auto;
}
.container-background .modal-dialog .modal-content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.19);
}
.flexbox {
  display: flex;
}
.content-app {
  max-width: 1292px;
  margin: 0 auto;
}
.container-app {
  background-color: #ebebeb;
  padding-top: 7.3rem;
  padding-bottom: 20rem;
}
.container-app .title {
  color: #2f2f2f;
  margin-bottom: 3rem;
}
.container-app .title .sub-title {
  color: #2f2f2f;
  font-size: 1.8rem;
}
.content-app-list .content-app-item {
  background-color: #fff;
  padding: 6rem .5rem 5rem;
  border: .1rem solid #d1d1d1;
  box-shadow: 0.2rem 0.3rem 0.9rem rgba(76, 76, 76, 0.16);
  width: 25%;
  float: left;
  margin: 0 -0.1rem;
  vertical-align: top;
  min-height: 40.8rem;
}
@media (max-width: 1000px) {
  .content-app-list .content-app-item {
    width: 50%;
  }
}
@media (max-width: 1000px) and (max-width: 767px) {
  .content-app-list .content-app-item {
    width: 100%;
  }
}
.content-app-list .content-app-item .title-app {
  font-size: 2.2rem;
  color: #786281;
  font-weight: normal;
  text-transform: uppercase;
  margin: 2.2rem 0 2.9rem;
}
.content-app-list .content-app-item .title-app .sub-app {
  display: block;
  text-transform: none;
  font-size: 1.4rem;
  color: #000000;
  font-weight: 300;
  margin-top: .6rem;
}
.content-app-list .content-app-item .function-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-app-list .content-app-item .function-list li {
  font-size: 1.8rem;
  color: #000000;
  font-weight: 300;
  margin-bottom: 1.4rem;
}
.content-app-list .content-app-item .function-list li a {
  color: #000000;
}
.content-app-list .content-app-item .function-list li:last-child {
  margin-bottom: 0;
}
.content-app-list .content-app-item .function-list li.show-list {
  position: relative;
}
.content-app-list .content-app-item .function-list li.show-list span {
  display: block;
  cursor: pointer;
}
.content-app-list .content-app-item .function-list li.show-list span:hover {
  text-decoration: underline;
}
.content-app-list .content-app-item .function-list li.show-list span:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 7px;
  color: #910d1a;
  vertical-align: middle;
  border-top: 5px solid transparent;
  border-left: 5px dashed;
  border-left: 5px solid\9;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  /* border-left: 5px solid transparent; */
}
.content-app-list .content-app-item .function-list li.show-list.active span:after {
  border-top: 5px dashed;
  border-top: 5px solid\9;
  border-left: 5px solid transparent;
  vertical-align: bottom;
}
.content-app-list .content-app-item .function-list li.show-list .function-list {
  margin-top: 1.4rem;
  display: none;
}
.content-defaultapp {
  padding-bottom: 8rem;
}
.content-defaultapp-list .content-defaultapp-item {
  padding: 3.1rem .5rem 0rem;
  width: 25%;
  float: left;
  margin: 0 -0.1rem;
  vertical-align: top;
}
@media (max-width: 1000px) and (max-width: 767px) {
  .content-defaultapp-list .content-defaultapp-item {
    width: 33%;
  }
}
@media (max-width: 1000px) and (max-width: 767px) and (max-width: 600px) {
  .content-defaultapp-list .content-defaultapp-item {
    width: 49%;
  }
}
.content-defaultapp-list .content-defaultapp-item .title-app {
  font-size: 1.8rem;
  color: #323232;
  font-weight: normal;
  margin: 3rem 0 2.3rem;
}
.container-video {
  padding-bottom: 5rem;
}
.container-video .title-video {
  padding: 7.3rem 0 2.2rem;
  background: url('/cloudbridge/static/src/img/front/bg-video.png') no-repeat 0 0;
  background-size: 100% 100%;
}
.content-video {
  padding-top: 3.9rem;
}
.box-video {
  border: .1rem solid #d8d8d8;
  margin-bottom: 4.2rem;
}
.box-video .name-video {
  font-size: 2rem;
  color: #b61b2a;
  padding: 1.7rem 1.8rem 1.6rem 1.8rem;
}
.box-video:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}
.video-wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.video-wrapper img {
  width: 100%;
  height: 226px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.video-wrapper:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 6rem;
  height: 3.7rem;
  margin-top: -1.7rem;
  margin-left: -3.1rem;
  cursor: pointer;
  background: url('/cloudbridge/static/src/img/front/play-button.png') no-repeat 0 0;
  background-size: 100%;
}
.video-wrapper:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
#video-popup {
  visibility: hidden;
  display: block;
}
#video-popup.open {
  visibility: visible;
}
#video-popup .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
@media (max-width: 750px) {
  #video-popup .modal-dialog {
    width: 300px;
    margin: 0;
  }
}
#video-popup.modal {
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
}
@media (max-width: 750px) {
  #video-popup.modal {
    margin: 0;
  }
}
#video-popup.modal iframe {
  width: 100%;
  height: 100%;
  min-height: 400px;
}
@media (max-width: 750px) {
  #video-popup.modal iframe {
    min-height: 200px;
  }
}
#video-popup.modal .modal-content {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.line-uprise {
  height: 100%;
  width: .1rem;
  border: none;
  border-left: .1rem solid #9b3a44;
  margin: 0 1rem;
}
.dark-turquoise-color {
  color: #00a69b !important;
}
.red-bordeaux-color {
  color: #820915 !important;
}
.red-color-b6 {
  color: #b61b2a !important;
}
.white-color {
  color: #ffffff !important;
}
.background-gradient {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(95, 95, 95, 0) 43%, rgba(222, 222, 222, 0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(95, 95, 95, 0) 43%, rgba(222, 222, 222, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(95, 95, 95, 0) 43%, rgba(222, 222, 222, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6dedede', GradientType=0);
}
.border-style {
  content: "";
  height: 0;
  border-top: none;
  border-bottom: 15rem solid;
  border-right: 0 solid transparent;
  border-left: 110vw solid transparent;
  position: absolute;
  top: 0rem;
  left: 0;
  z-index: 9;
}
.visibility-hidden {
  visibility: hidden;
}
@media (min-width: 807px) {
  .col-centered {
    float: none;
    display: inline-block;
    margin: 0 auto;
    padding: 0 1.5rem;
    vertical-align: top;
  }
}
@media (max-width: 807px) {
  .col-centered {
    margin-bottom: 2rem;
  }
}
@media (min-width: 991px) {
  .display-table {
    display: table;
    width: 100%;
  }
  .display-table .table-cell {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
}
@-webkit-keyframes moveclouds {
  0% {
    top: -100px;
    opacity: 0.8;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-moz-keyframes moveclouds {
  0% {
    top: -100px;
    opacity: 0.8;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-o-keyframes moveclouds {
  0% {
    top: -100px;
    opacity: 0.8;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes moveclouds {
  0% {
    top: -100px;
    opacity: 0.8;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
#wrapwrap > * {
  display: block;
}
header {
  background-color: #820915;
  padding: 1.4rem 0 1.3rem;
}
header.head-active {
  background-color: rgba(130, 9, 21, 0.95);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 0.1rem 0.1rem 1rem rgba(76, 76, 76, 0.34);
  -webkit-animation: moveclouds .9s;
  -moz-animation: moveclouds .9s;
  -o-animation: moveclouds .9s;
  animation: moveclouds 0.9s;
}
header .nav {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 !important;
}
header .nav > li {
  display: inline-block;
  margin: 0 2.2rem;
}
header .nav > li > a .caret {
  margin-left: 1rem;
  border-width: .5rem;
  border-top-color: #ffffff;
}
header .nav > li.active > a,
header .nav > li.open > a {
  background: transparent;
  background: none;
  border-bottom-color: #ffffff;
}
@media (min-width: 768px) {
  header .nav > li.active > a:focus,
  header .nav > li.open > a:focus,
  header .nav > li.active > a:active,
  header .nav > li.open > a:active,
  header .nav > li.active > a:hover,
  header .nav > li.open > a:hover {
    background: none;
    border-bottom-color: #ffffff;
  }
}
header .nav > li .dropdown-menu a {
  font-weight: 300;
}
header .navbar-toggle {
  background: none transparent !important;
}
header .navbar-toggle .icon-bar {
  background-color: #fff;
}
header .navbar-header {
  margin: 0 !important;
}
header .navbar-header .logo {
  display: block;
  width: 8.7rem;
  height: 5.3rem;
  text-indent: -999.9rem;
  padding: 0;
  background: url('/cloudbridge/static/src/img/front/logo.png') no-repeat 0 0;
  background-size: 100%;
  margin: 0 !important;
}
header .navbar-header .logo img {
  display: none;
}
header .navbar-default {
  background: none transparent;
  border: none !important;
  margin: 0;
}
header .navbar-default .navbar-collapse {
  border: none !important;
  box-shadow: none !important;
}
@media (max-width: 767px) {
  header .navbar-default .navbar-collapse {
    padding-top: 2rem;
    overflow: hidden;
  }
}
header .navbar-default .navbar-nav > li {
  display: inline-block;
  margin: 0 2.2rem;
}
header .navbar-default .navbar-nav > li > a {
  color: #ffffff !important;
  font-size: 1.2rem;
  font-weight: 800;
  margin: 1.5rem 0;
  padding: 0;
  border-bottom: .2rem solid transparent;
}
@media (min-width: 768px) {
  header .navbar-default .navbar-nav > li > a.active,
  header .navbar-default .navbar-nav > li > a:focus,
  header .navbar-default .navbar-nav > li > a:active,
  header .navbar-default .navbar-nav > li > a:hover {
    background: none;
    border-bottom-color: #ffffff;
  }
}
header .navbar-default .navbar-nav > li.active > a {
  background: none;
  border-bottom-color: #ffffff;
}
header .navbar-default .navbar-nav > li.divider {
  margin-top: .7rem !important;
  padding-top: 3.6rem!important;
  border-right: 0.2rem solid #9b3a44 !important;
}
header .navbar-default .navbar-nav > li:last-child {
  margin-right: 0;
}
header .navbar-default .navbar-nav > li .dropdown-menu {
  border-radius: .3rem;
  margin-top: -0.3rem;
}
header .navbar-default .navbar-nav > li .dropdown-menu.js_usermenu {
  margin-right: -1.3rem;
}
header .navbar-default .navbar-nav > li .dropdown-menu.js_usermenu:before {
  left: auto;
  right: .9rem;
}
header .navbar-default .navbar-nav > li .dropdown-menu.js_usermenu:after {
  left: auto;
  right: 1rem;
}
@media (max-width: 767px) {
  header .navbar-default .navbar-nav > li .dropdown-menu.js_usermenu:before,
  header .navbar-default .navbar-nav > li .dropdown-menu.js_usermenu:after {
    display: none;
  }
}
@media (max-width: 767px) {
  header .navbar-default .navbar-nav > li .dropdown-menu li {
    padding: 0 1.5rem;
  }
  header .navbar-default .navbar-nav > li .dropdown-menu li a {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 800;
    margin: .5rem 0;
    padding: 0;
    border-bottom: .2rem solid transparent;
  }
}
@media (max-width: 767px) {
  header .navbar-default .navbar-nav > li {
    display: block;
    margin: 0;
    padding: 0 1.5rem;
    margin-bottom: 1rem;
  }
  header .navbar-default .navbar-nav > li a {
    display: inline-block;
    margin: 0;
  }
  header .navbar-default .navbar-nav > li.divider {
    margin: 0 1.5rem !important;
    margin-bottom: 1rem!important;
    padding: 0!important;
    display: block!important;
    height: .2rem!important;
    background-color: #9b3a44 !important;
  }
}
header .navbar-default .navbar-nav .btn.btn-success {
  font-size: 1.4rem;
  height: 4.1rem;
  line-height: 4rem !important;
  padding: 0 2.8rem;
  border-radius: 5rem;
  background-color: #00a69b;
  color: #ffffff;
  border: none;
  margin: .4rem 0 0!important;
  position: relative;
  overflow: hidden;
}
header .navbar-default .navbar-nav .btn.btn-success:before,
header .navbar-default .navbar-nav .btn.btn-success:after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  transition: .3s;
  z-index: -1;
}
header .navbar-default .navbar-nav .btn.btn-success:before {
  background-color: #42c2a8;
  left: 0;
  bottom: 51%;
}
header .navbar-default .navbar-nav .btn.btn-success:after {
  background-color: #42c2a8;
  right: 0;
  top: 51%;
}
header .navbar-default .navbar-nav .btn.btn-success:hover:before,
header .navbar-default .navbar-nav .btn.btn-success:hover:after {
  height: 51%;
}
header .navbar-default .navbar-nav .btn.btn-success:hover:before {
  bottom: 0;
}
header .navbar-default .navbar-nav .btn.btn-success:hover:after {
  top: 0;
}
header .navbar-default .navbar-nav .btn.btn-success:focus,
header .navbar-default .navbar-nav .btn.btn-success:active {
  background-color: #00a69b;
  color: #ffffff;
}
header .navbar-default .navbar-nav .btn.btn-success:hover {
  opacity: 0.9;
}
header .navbar-toggle {
  margin-right: 0;
}
#logo {
  margin: 0;
}
#logo a {
  display: block;
  width: 8.7rem;
  height: 5.3rem;
  text-indent: -999.9rem;
  background: url('/cloudbridge/static/src/img/front/logo.png') no-repeat 0 0;
  background-size: 100%;
}
.header-buttons {
  margin: .5rem 0 0 4.6rem;
  padding-left: 4.3rem;
  border-left: 0.2rem solid #9b3a44;
}
.header-buttons .btn-default {
  margin-left: 1.3rem;
}
@media (max-width: 750px) {
  .header-buttons {
    padding-left: 0;
    border-left: none;
    margin-left: 0;
  }
  .header-buttons .btn.btn-default {
    margin-left: 0rem;
    padding: 0 1.5rem;
  }
}
.header-buttons .btn-link {
  text-decoration: none !important;
  border-bottom: .2rem solid transparent;
  padding: .3rem 0 0;
  margin: 0 1.2rem;
}
.header-buttons .btn-link:hover {
  border-bottom-color: #ffffff;
}
.header-buttons .btn-group {
  margin-top: .8rem;
}
.header-buttons .btn-group .btn-link {
  margin-bottom: 1.6rem;
}
.header-buttons .btn-group.open .btn-link {
  border-bottom-color: #ffffff;
}
.btn {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.btn.btn-default {
  font-size: 1.4rem;
  height: 4.1rem;
  line-height: 4rem;
  padding: 0 2.8rem;
  border-radius: 5rem;
  background-color: #00a69b;
  color: #ffffff;
  border: none;
  position: relative;
  overflow: hidden;
}
.btn.btn-default:before,
.btn.btn-default:after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  transition: .3s;
  z-index: -1;
}
.btn.btn-default:before {
  background-color: #42c2a8;
  left: 0;
  bottom: 51%;
}
.btn.btn-default:after {
  background-color: #42c2a8;
  right: 0;
  top: 51%;
}
.btn.btn-default:hover:before,
.btn.btn-default:hover:after {
  height: 51%;
}
.btn.btn-default:hover:before {
  bottom: 0;
}
.btn.btn-default:hover:after {
  top: 0;
}
.btn.btn-default:focus,
.btn.btn-default:active {
  background-color: #00a69b;
  color: #ffffff;
}
.btn.btn-default:hover {
  opacity: 0.9;
}
.btn.font-raleway {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}
.btn.w-sm {
  max-width: 40rem;
  width: 100%;
}
.btn.w-xs {
  max-width: 28rem;
  width: 100%;
}
.btn-hover {
  position: relative;
  overflow: hidden;
}
.btn-hover:before,
.btn-hover:after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  transition: .3s;
  z-index: -1;
}
.btn-hover:before {
  background-color: #42c2a8;
  left: 0;
  bottom: 51%;
}
.btn-hover:after {
  background-color: #42c2a8;
  right: 0;
  top: 51%;
}
.btn-hover:hover:before,
.btn-hover:hover:after {
  height: 51%;
}
.btn-hover:hover:before {
  bottom: 0;
}
.btn-hover:hover:after {
  top: 0;
}
.form-group {
  margin-bottom: 2rem;
  position: relative;
}
.form-group .control-label {
  color: #21313a;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1rem;
  position: absolute;
  padding: 0 .6rem;
  top: 2rem;
  left: 1.2rem;
  z-index: 8;
  transition: all .2s ease 0s;
}
.form-group .form-control {
  padding: 0rem 2rem;
  height: 6rem;
  line-height: 6rem;
  border-radius: .2rem;
  position: relative;
  z-index: 9;
  background: none transparent;
}
.form-group .form-control:focus,
.form-group .form-control:active {
  box-shadow: none;
}
.form-group.active .control-label {
  top: -1.1rem;
  background-color: #fff;
  z-index: 10;
}
.showpass {
  position: absolute;
  top: 1.7rem;
  right: 2rem;
  z-index: 12;
  display: block;
}
.showpass:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f06e";
  font-size: 2.4rem;
  height: 0;
  display: block;
  cursor: pointer;
}
.field-password-active .showpass:after {
  content: "\f070";
}
.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.breadcrumb li {
  margin-right: 5.6rem;
}
.breadcrumb li:last-child {
  margin-right: 0;
}
.breadcrumb li:before {
  display: none;
}
.breadcrumb li a {
  color: #786281;
}
.breadcrumb li.active {
  color: #820915;
}
.btn-group .btn .caret {
  margin-left: 1rem;
  border-width: .5rem;
  border-top-color: #ffffff;
}
@media (min-width: 768px) {
  .btn-group:hover > a,
  .dropdown:hover > a {
    border-bottom-color: #ffffff !important;
  }
  .btn-group:hover .dropdown-menu,
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
.dropdown-menu {
  margin-top: -0.6rem;
  /* &.size-xs {
		min-width:14rem;
	} */
}
.dropdown-menu:before,
.dropdown-menu:after {
  position: absolute;
  display: inline-block;
  content: '';
}
.dropdown-menu:before {
  top: -0.7rem;
  left: .9rem;
  border-right: .7rem solid transparent;
  border-bottom: .7rem solid #ccc;
  border-left: .7rem solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.dropdown-menu:after {
  top: -0.6rem;
  left: 1rem;
  border-right: .6rem solid transparent;
  border-bottom: 0.6rem solid #ffffff;
  border-left: .6rem solid transparent;
}
.dropdown-menu.dropdown-menu-right:before {
  left: auto;
  right: .9rem;
}
.dropdown-menu.dropdown-menu-right:after {
  left: auto;
  right: 1rem;
}
.dropdown-menu li {
  padding: .2rem 0;
}
.dropdown-menu li a {
  font-weight: 300 !important;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  text-transform: none;
}
.dropdown-menu li a:hover {
  color: #ffffff;
  background-color: #820915;
}
@media (max-width: 768px) {
  .modal {
    margin: 1.5rem;
  }
}
.modal-content {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  border-radius: 0;
}
.modal-backdrop {
  background-color: #fff;
}
.modal-backdrop.in {
  opacity: .9;
}
.modal-header {
  background-color: #820915;
  text-align: center;
  padding: 1.1rem 1.5rem;
}
.modal-header .modal-title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 300;
}
.modal-body {
  padding: 1.5rem 2rem 4rem;
}
.modal-body .modal-title-body {
  font-size: 1.6rem;
  color: #21313a;
  text-align: center;
  margin: 0;
  padding: 1.9rem 0 3.5rem;
  border-bottom: .2rem solid #efefef;
  margin-bottom: 2.9rem;
}
p.already {
  margin-top: 1.5rem;
}
p.already a {
  color: #7f5674;
}
.alert-danger {
  padding: 1.5rem 2rem;
  border-radius: .2rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: #21b799;
  border-color: #21b799;
}
.modal-dialog-login {
  width: auto;
  max-width: 49.2rem;
}
.modal-dialog-registration {
  width: auto;
  max-width: 76rem;
}
.banner-container {
  background-color: #820915;
  padding: 7.5rem 0 16.3rem;
}
@media (max-width: 992px) {
  .banner-container {
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
}
.banner-container .title {
  margin-bottom: 1rem;
}
.banner-container .banner-text p {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 300;
  line-height: 3rem;
  margin-bottom: 4.8rem;
}
.banner-container .banner-text .btn-default {
  height: 4.6rem;
  line-height: 4.6rem;
  font-size: 1.6rem;
  text-align: center;
  max-width: 29.8rem;
  display: block;
}
@media (max-width: 992px) {
  .banner-container .banner-text .btn-default {
    margin: 0 auto;
  }
}
.banner-container .banner-img img {
  max-width: 100%;
}
@media (max-width: 992px) {
  .banner-container .banner-img {
    margin-top: 3rem;
  }
}
@media (max-width: 1024px) {
  .banner-container br {
    display: none;
  }
}
@media (max-width: 992px) {
  .banner-container {
    text-align: center;
  }
  .banner-container .banner-text p {
    margin-bottom: 2.2rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.needapp-container {
  position: relative;
  overflow: hidden;
  margin-top: -15rem;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(95, 95, 95, 0) 43%, rgba(222, 222, 222, 0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(95, 95, 95, 0) 43%, rgba(222, 222, 222, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(95, 95, 95, 0) 43%, rgba(222, 222, 222, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6dedede', GradientType=0);
}
@media (max-width: 760px) {
  .needapp-container {
    margin-top: -5rem;
  }
}
.needapp-container .needapp-content {
  margin-top: 14.2rem;
}
.needapp-container .needapp-content:before {
  content: "";
  height: 0;
  border-top: none;
  border-bottom: 15rem solid;
  border-right: 0 solid transparent;
  border-left: 110vw solid transparent;
  position: absolute;
  top: 0rem;
  left: 0;
  z-index: 9;
  border-bottom-color: #ffffff;
}
@media (max-width: 760px) {
  .needapp-container .needapp-content {
    margin-top: 5rem;
  }
  .needapp-container .needapp-content:before {
    border-bottom: 5rem solid #ffffff;
  }
}
.needapp-container .tab-needapp-content {
  margin-top: 3.2rem;
}
@media (max-width: 760px) {
  .needapp-container .tab-needapp-content {
    margin-top: 2rem;
  }
}
.needapp-container .tab-needapp-content .nav-tabs {
  border: none;
  margin-bottom: 3.2rem;
  text-align: center;
}
@media (max-width: 760px) {
  .needapp-container .tab-needapp-content .nav-tabs {
    margin-bottom: 1.5rem;
  }
}
.needapp-container .tab-needapp-content .nav-tabs li {
  margin-bottom: .5rem;
}
.needapp-container .tab-needapp-content .nav-tabs li a {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  border: none;
  height: 4.4rem;
  line-height: 4.4rem;
  border-radius: 5rem;
  padding: 0 2.1rem;
}
.needapp-container .tab-needapp-content .nav-tabs li:hover a,
.needapp-container .tab-needapp-content .nav-tabs li.active a {
  background-color: #00a69b;
  color: #ffffff;
}
@media (max-width: 1006px) {
  .needapp-container .tab-needapp-content .nav-tabs li {
    width: 32%;
    float: none;
    display: inline-block;
  }
}
@media (max-width: 1006px) and (max-width: 679px) {
  .needapp-container .tab-needapp-content .nav-tabs li {
    width: 49%;
  }
}
@media (max-width: 1006px) and (max-width: 679px) and (max-width: 453px) {
  .needapp-container .tab-needapp-content .nav-tabs li a {
    font-size: 1.2rem;
    height: 3.4rem;
    line-height: 3.4rem;
    padding: 0 1rem;
  }
}
.needapp-container .tab-needapp-content .tab-content img {
  max-width: 100%;
}
.quote-container {
  padding: 7.7rem 0 0;
}
@media (max-width: 679px) {
  .quote-container {
    padding-top: 1.8rem;
  }
}
.quote-container .avatar-content {
  float: left;
  margin-right: 3.6rem;
}
.quote-container .avatar-content img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
@media (max-width: 679px) {
  .quote-container .avatar-content {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
}
.quote-container .quote-content {
  overflow: hidden;
}
.quote-container .quote-content h4 {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1.8rem;
}
@media (max-width: 679px) {
  .quote-container .quote-content h4 {
    line-height: 1.8rem;
  }
}
.quote-container .quote-content p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #2f2f2f;
  padding: .9rem 2.2rem;
  text-align: center;
  position: relative;
}
.quote-container .quote-content p:after,
.quote-container .quote-content p:before {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.5rem;
  background: url('/cloudbridge/static/src/img/front/quote.png') no-repeat 0 0;
  background-size: 100%;
  position: absolute;
}
.quote-container .quote-content p:after {
  bottom: -0.2rem;
  right: .1rem;
}
.quote-container .quote-content p:before {
  top: .2rem;
  left: .1rem;
  transform: rotate(180deg);
}
@media (max-width: 679px) {
  .quote-container .quote-content p {
    padding: 1.2rem 2.2rem;
  }
  .quote-container .quote-content p br {
    display: none;
  }
}
.quote-container .swiper-container {
  padding-bottom: 4.7rem;
}
@media (max-width: 679px) {
  .quote-container .swiper-container {
    padding-bottom: 2rem;
  }
}
.quote-container .swiper-container .swiper-slide {
  background-color: #ffffff;
  /* visibility: hidden;
			&.swiper-slide-active {
				visibility: initial;
			} */
}
.quote-container .swiper-container .swiper-pagination {
  bottom: -0.3rem;
}
.quote-container .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
  background-color: #2f2f2f;
  opacity: 1;
}
.quote-container .swiper-container .swiper-pagination .swiper-pagination-bullet:hover,
.quote-container .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #820915;
}
.quote-container .img-laptop {
  max-width: 100%;
  width: 100%;
  margin-top: 6.8rem;
}
@media (max-width: 679px) {
  .quote-container .img-laptop {
    margin-top: 2rem;
  }
}
.value-container {
  position: relative;
  overflow: hidden;
  margin-top: -15rem;
  border-bottom: 0.7rem solid #ffffff;
}
@media (max-width: 760px) {
  .value-container {
    margin-top: -5rem;
  }
}
.value-container .value-box {
  background: url('/cloudbridge/static/src/img/front/br-right.png') no-repeat right 9rem;
  padding-bottom: 6rem;
}
.value-container .value-content {
  margin-top: 15rem;
  background: url('/cloudbridge/static/src/img/front/br-left.png') no-repeat 0 9rem;
  background-color: #21b799;
}
.value-container .value-content:before {
  content: "";
  height: 0;
  border-top: none;
  border-bottom: 15rem solid;
  border-right: 0 solid transparent;
  border-left: 110vw solid transparent;
  position: absolute;
  top: 0rem;
  left: 0;
  border-bottom-color: #21b799;
  z-index: 9;
}
.value-container .value-content:after {
  content: "";
  height: 0;
  border-top: none;
  border-right: 0 solid transparent;
  border-left: 110vw solid transparent;
  position: absolute;
  top: 0rem;
  left: 0;
  z-index: 9;
  border-bottom: 15rem solid;
  border-bottom-color: #ffffff;
  z-index: 8;
  left: -135px;
}
@media (max-width: 1370px) {
  .value-container .value-content:after {
    left: -83px;
  }
}
@media (max-width: 760px) {
  .value-container .value-content {
    margin-top: 5rem;
  }
  .value-container .value-content:after {
    border-bottom: 5rem solid #ffffff;
    left: -63px;
  }
  .value-container .value-content:before {
    border-bottom: 5rem solid #21b799;
  }
}
@media (max-width: 760px) and (max-width: 460px) {
  .value-container .value-content:after {
    left: -23px;
  }
}
.circles-value {
  margin-top: 6.9rem;
  text-align: center;
}
@media (max-width: 660px) {
  .circles-value {
    margin-top: 2rem;
  }
}
.circles-value-content {
  width: 27rem;
  height: 27rem;
  border: 2rem solid #42c2a8;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  font-weight: 300;
  padding: 5.1rem 2rem 3.2rem;
  display: inline-block;
  margin: 0 5.7rem;
}
@media (max-width: 1208px) {
  .circles-value-content {
    margin: 0 2.7rem;
  }
}
@media (max-width: 1208px) and (max-width: 1026px) {
  .circles-value-content {
    margin: 0 1.7rem;
  }
}
@media (max-width: 1208px) and (max-width: 1026px) and (max-width: 660px) {
  .circles-value-content {
    margin: 0 0 1rem 0;
  }
}
.circles-value-content .text-value {
  display: block;
  font-size: 2.4rem;
  color: #786281;
}
.circles-value-content .text-value.text-xs {
  font-size: 1.8rem;
  min-height: 2.5rem;
}
.circles-value-content .number-value {
  font-size: 6rem;
  color: #21b799;
  line-height: 7.6rem;
}
.aboutus-container {
  margin-top: 9.6rem;
}
@media (max-width: 760px) {
  .aboutus-container {
    margin-top: 3rem;
  }
}
.aboutus-container .aboutus-text {
  margin-top: -0.6rem;
}
.aboutus-container .aboutus-text p {
  font-size: 1.8rem;
  color: #ffffff;
  line-height: 2.5rem;
  margin-bottom: 2.2rem;
}
.aboutus-container .aboutus-img img {
  max-width: 100%;
}
.contactus-container {
  position: relative;
}
.contactus-container iframe {
  width: 100% !important;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 1000px) {
  .contactus-container iframe {
    position: static;
    height: 20rem;
  }
}
@media (max-width: 1000px) {
  .contactus-container .container-sm {
    text-align: center;
  }
}
.contactus-container .container-sm .contactus-content {
  padding: 2.9rem 8.7rem 1.9rem 2.9rem;
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  z-index: 9;
}
@media (max-width: 1000px) {
  .contactus-container .container-sm .contactus-content {
    padding: 2.9rem;
    text-align: left;
  }
}
.contactus-container .container-sm h3 {
  font-size: 4.8rem;
  font-weight: bold;
  color: #b61b2a;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 4.4rem;
  margin-top: 0;
}
.contactus-container .container-sm h3:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 8.4rem;
  height: .3rem;
  background-color: #d9d9d9;
}
.contactus-container .container-sm p {
  font-size: 3rem;
  color: #2f2f2f;
  line-height: 4.5rem;
  font-weight: 300;
}
.contactus-container .container-sm p a {
  color: #b61b2a;
  text-decoration: underline;
}
@media (max-width: 750px) {
  .contactus-container .container-sm h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .contactus-container .container-sm p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
.breadcrumb-container {
  background-color: #ffffff;
  padding: 2.7rem 0;
}
.pricing-container {
  margin-bottom: 6rem;
}
.pricing-title-container {
  background-color: #ebebeb;
  padding: 3.1rem 0 11.1rem;
}
.sponsors-container {
  background-color: #b61b2a;
  padding: 3.3rem 0 3.8rem;
}
.sponsors-container .title {
  margin-bottom: 3.3rem;
}
.sponsors-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.sponsors-container ul li {
  display: inline-block;
  padding: 0 2.8rem;
}
@media (max-width: 768px) {
  .sponsors-container ul li {
    width: 30%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) and (max-width: 600px) {
  .sponsors-container ul li {
    width: 48%;
  }
}
.needhelp-container {
  padding: 5.6rem 0px 6rem;
  border-bottom: 0.8rem solid #dddddd;
}
.needhelp-container .title {
  color: #000000;
}
.needhelp-container .title.font-md {
  font-size: 4.8rem;
}
.needhelp-container p {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 1.9rem 0 3.3rem;
}
.needhelp-container .btn.btn-default {
  height: 4.7rem;
  width: 29.7rem;
  font-size: 1.7rem;
}
.needhelp-container.need-help-style {
  background-color: #786281;
  border-bottom: none;
}
.pricetable {
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  margin-top: -7.7rem;
}
.pricetable .pricetable-column {
  background-color: #bd2533;
  padding-bottom: 3rem;
}
@media (min-width: 993px) {
  .pricetable .pricetable-column {
    width: 35rem;
  }
}
.pricetable .pricetable-column.highlight {
  background-color: #786281;
}
.pricetable .pricetable-column-wall .pricetable-header {
  padding: 0 1rem;
}
.pricetable .pricetable-column-wall .pricetable-header .pricetable-fld-name {
  font-size: 2.4rem;
  text-transform: uppercase;
  padding: 2rem 0;
}
.pricetable .pricetable-column-wall .pricetable-header .pricetable-fld-name strong {
  display: block;
  line-height: 2.5rem;
}
.pricetable .pricetable-column-wall .pricetable-header .pricetable-header-inner .pricetable-fld-price {
  font-size: 9rem;
  font-weight: bold;
  line-height: 9.6rem;
}
.pricetable .pricetable-column-wall .pricetable-header .pricetable-header-inner .pricetable-fld-price sub {
  font-size: 3.5rem;
  top: 3.3rem;
  margin-left: -0.6rem;
  vertical-align: top;
}
.pricetable .pricetable-column-wall .pricetable-header .pricetable-header-inner p {
  line-height: 1.8rem;
  color: rgba(254, 252, 255, 0.45);
}
.pricetable ul.features {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 3.6rem;
}
.pricetable ul.features li {
  font-size: 1.8rem;
  padding: 2.3rem 4rem;
  line-height: 2.9rem;
}
.pricetable ul.features li span {
  display: none;
  margin-bottom: 1rem;
}
@media (max-width: 993px) {
  .pricetable ul.features li span {
    display: block;
  }
}
.pricetable ul.features li .btn.btn-default {
  width: 100%;
}
.pricetable ul.features li:first-child {
  border-top: 0.1rem solid rgba(188, 177, 192, 0.52);
  border-bottom: 0.1rem solid rgba(188, 177, 192, 0.52);
}
.pricetable ul.features li:nth-child(odd) {
  background-color: rgba(254, 252, 255, 0.35);
}
.pricetable ul.features li .fa {
  font-size: 2.5rem;
}
.pricetable .labeling .labeling-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: normal;
  color: #373d44;
  text-align: right;
  margin-top: 24.9rem;
}
.pricetable .labeling .labeling-list li {
  padding: 2.8rem 0;
}
.pricetable .labeling .labeling-list li.ps-one {
  padding: 4.3rem 0;
}
.pricetable .labeling .labeling-list li.ps-two {
  padding: 3.3rem 0;
}
@media (max-width: 993px) {
  .pricetable .labeling {
    display: none;
  }
}
