
#wrapwrap > * {
    display: block;
}

header{
	background-color:@red-bordeaux-color;
	padding:1.4rem 0 1.3rem;
	
	&.head-active{
		background-color:fade(@red-bordeaux-color, 95%);
		position: fixed;
		top:0;
		z-index:999;
		width:100%;
		box-shadow: .1rem .1rem 1rem rgba(76,76,76,.34);
		-webkit-animation: moveclouds .9s;
		-moz-animation: moveclouds .9s;
		-o-animation: moveclouds .9s;
		animation: moveclouds .9s
	}
	
	.nav {
		font-family: 'Raleway', sans-serif;
		font-size:13px;
		text-transform: uppercase;
		margin:0 !important;
		> li {
			display:inline-block;
			margin:0 2.2rem;
			> a {
				
				
				.caret {
					margin-left:1rem;
					border-width: .5rem;
					border-top-color:@white-color;
				}
				
			}
			
			&.active,
			&.open {
				> a {
					background:transparent;
					background:none;
					border-bottom-color:@white-color;
					
					@media (min-width: 768px) {
						&:focus,
						&:active,
						&:hover {
							background:none;
							border-bottom-color:@white-color;
						}
					}
				}
			}
			.dropdown-menu {
				a {
					font-weight:300;
				}
			}
			
			
		}
		
	}
	
	
	.navbar-toggle {
		background:none transparent !important;
		.icon-bar {
			background-color:#fff;
		}
		
	}
	
	
	
	.navbar-header {
		margin:0 !important;
		.logo {
			display:block;
			width:8.7rem;
			height:5.3rem;
			text-indent:-999.9rem;
			padding:0;
			background: url('/cloudbridge/static/src/img/front/logo.png') no-repeat 0 0;
			background-size:100%;
			margin:0 !important;
			img {
				display:none;
			}
		}
	}
	
	
	.navbar-default {
		background:none transparent;
		border:none !important;
		margin:0;
		.navbar-collapse {
			border:none !important;
			box-shadow:none !important;
			@media (max-width: 767px) {
				padding-top:2rem;
				overflow:hidden;
			}
		}
		
		.navbar-nav {
			> li {
				display:inline-block;
				margin:0 2.2rem;
				> a {
					color:@white-color !important;
					font-size:1.2rem;
					font-weight:800;
					margin:1.5rem 0;
					padding:0;
					border-bottom:.2rem solid transparent;
					@media (min-width: 768px) {
						&.active,
						&:focus,
						&:active,
						&:hover {
							background:none;
							border-bottom-color:@white-color;
						}
					}
				}
				&.active {
					> a {
						background:none;
						border-bottom-color:@white-color;
					}
				}
				&.divider {
					margin-top: .7rem !important;
					padding-top: 3.6rem!important;
					border-right: .2rem solid @red-lighter-color!important;
				}
				&:last-child{
					margin-right:0;
				}
				
				
				.dropdown-menu {
					border-radius:.3rem;
					margin-top: -.3rem;
					&.js_usermenu {
						
						margin-right: -1.3rem;
						
						&:before {
							left: auto;
							right: .9rem;
						}
						&:after {
							left: auto;
							right: 1rem;
						}
						
						@media (max-width: 767px) {
							&:before,
							&:after {
								display:none;
							}
							
						}
					}
					@media (max-width: 767px) {
						li {
							padding:0 1.5rem;
							a {
								color:@white-color;
								font-size:1.2rem;
								font-weight:800;
								margin:.5rem 0;
								padding:0;
								border-bottom:.2rem solid transparent;
								
							}
						}
					}
					
				}
				
				@media (max-width: 767px) {
					display:block;
					margin:0;
					padding:0 1.5rem;
					margin-bottom:1rem;
					a {
						display:inline-block;
						margin:0;
					}
					
					&.divider {
						margin:0 1.5rem !important;
						margin-bottom:1rem!important;
						padding:0!important;
						display:block!important;
						height:.2rem!important;
						background-color:@red-lighter-color!important;
					}
				}
				
			}
			
			
			
			.btn.btn-success {
				font-size:1.4rem;
				height:4.1rem;
				line-height:4rem !important;
				padding:0 2.8rem;
				border-radius:5rem;
				background-color:@dark-turquoise-color;
				color:@white-color;
				border:none;
				margin:.4rem 0 0!important;
				
				.btn-hover;
				
				&:focus,
				&:active {
					background-color:@dark-turquoise-color;
					color:@white-color;
				}
				
				&:hover {
					opacity:0.9;
				}
			}
		}
	}
	
	
	.navbar-toggle {
		margin-right:0;
	}
	
	
	
	
}

#logo {
	margin:0;
	
	a {
		display:block;
		width:8.7rem;
		height:5.3rem;
		text-indent:-999.9rem;
		background: url('/cloudbridge/static/src/img/front/logo.png') no-repeat 0 0;
		background-size:100%;
	}
}




.header-buttons {
	margin:.5rem 0 0 4.6rem;
	padding-left: 4.3rem;
	border-left: .2rem solid @red-lighter-color;
	
	.btn-default {
		margin-left:1.3rem;
	}
	
	@media (max-width: 750px) {
		padding-left: 0;
		border-left: none;
		margin-left:0;
		
		.btn.btn-default {
			margin-left:0rem;
			padding:0 1.5rem;
		}
	}
	.btn-link {
		text-decoration:none !important;
		border-bottom: .2rem solid transparent;
		padding:.3rem 0 0;
		margin:0 1.2rem;
		&:hover {
			border-bottom-color:@white-color;
		}
	}
	.btn-group {
		margin-top:.8rem;
		.btn-link {
			margin-bottom:1.6rem;
		}
		&.open {
			.btn-link{
				border-bottom-color:@white-color;
			}
		}
	}
}
