
.line-uprise {
	height:100%;
	width:.1rem;
	border:none;
	border-left:.1rem solid #9b3a44;
	margin:0 1rem;
}

.dark-turquoise-color {
	color:@dark-turquoise-color !important;
}

.red-bordeaux-color {
	color:@red-bordeaux-color !important;
}

.red-color-b6 {
	color:@red-color-b6 !important;
}

.white-color{
	color:@white-color !important;
}


.background-gradient{
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(95,95,95,0) 43%, rgba(222,222,222,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(95,95,95,0) 43%,rgba(222,222,222,0.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(95,95,95,0) 43%,rgba(222,222,222,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6dedede',GradientType=0 );
}

.border-style{
	content: "";
	height: 0;
	border-top: none;
	border-bottom: 15rem solid;
	border-right: 0 solid transparent;
	border-left: 110vw solid transparent;
	position: absolute;
	top: 0rem;
	left: 0;
	z-index: 9;
}

.visibility-hidden {
	visibility:hidden;
}


@media (min-width: 807px) {
	.col-centered{
		float: none;
		display:inline-block;
		margin:0 auto;
		padding:0 1.5rem;
		vertical-align:top;
	}
}

@media (max-width: 807px) {
	.col-centered {
		margin-bottom:2rem;
	}
	
}

@media (min-width: 991px) {
	.display-table {
		display: table;
		width:100%;
		.table-cell {
			display:table-cell;
			float:none;
			vertical-align: middle;
		}
	}
}



@-webkit-keyframes moveclouds {
    0% {
        top: -100px;
        opacity: .8
    }

    100% {
        top: 0;
        opacity: 1
    }
}

@-moz-keyframes moveclouds {
    0% {
        top: -100px;
        opacity: .8
    }

    100% {
        top: 0;
        opacity: 1
    }
}

@-o-keyframes moveclouds {
    0% {
        top: -100px;
        opacity: .8
    }

    100% {
        top: 0;
        opacity: 1
    }
}

@keyframes moveclouds {
    0% {
        top: -100px;
        opacity: .8
    }

    100% {
        top: 0;
        opacity: 1
    }
}

