
body {
	font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.container {
	max-width:1561px;
	width:100%;
}
.container-sm {
	max-width:1299px;
	width:100%;
	padding-right: 15px;
    padding-left: 15px;
	margin:0 auto;
}

.container-xs {
	max-width:991px;
	width:100%;
	padding-right: 15px;
    padding-left: 15px;
	margin:0 auto;
}
/* ----- Title ----- */

h2.title {
	font-size:4.8rem;
	font-weight: 300;
	color:@black-color;
	margin:0;
	
	&.font-large {
		font-size:5rem;
		color:@white-color;
		line-height:5.9rem;
	}
	
	span.sub-title {
		display:block;
		font-size:2.4rem;
		margin-top:1.2rem;
	}
	
	@media (max-width: 760px) {
		font-size: 3.2rem !important;
		line-height: 4rem !important;
		
		span.sub-title {
			font-size:1.6rem;
			margin-top:.7rem;
			line-height:2rem;
		}
	}
}

h3.title {
	font-size:3.6rem;
	font-weight: 300;
	color:@white-color;
	margin:0;
	@media (max-width: 807px) {
		font-size:3rem;
	}
}

h4.title {
	font-size:1.6rem;
	font-weight: 300;
	color:@white-color;
	margin:0;
}

/* ----- Title End----- */



#footer-container {
	background-color:@darker-black-color;
	padding:2.5rem 0 6.7rem;
	color:@white-color;
	
	.contact-footer {
		overflow:hidden;
		
		h4.title-contact {
			font-size:1.2rem;
			font-weight:bold;
			text-transform: uppercase;
			margin:.2rem 0 1.5rem 0;
		}
		
		@media (max-width: 1200px) {
			margin-top:2rem;
		}
	}
	
	.contact-list {
		list-style: none;
		margin:0;
		padding:0;
		
		li {
			display:inline-block;
			margin-right:3.5rem;
			margin-bottom:1.5rem;
			overflow:hidden;
			vertical-align: top;
			font-size:1.2rem;
			
			&:last-child{
				margin-right:0;
			}
			
			span,
			a {
				color:@white-color;
				display:inline-block;
				overflow:hidden;
				vertical-align: middle;
			}
			
			.icon {
				display:inline-block;
				vertical-align: middle;
				width:28px;
				height:28px;
				background : ~"url( '@{background-url}' )" no-repeat 0px 0px;
				margin-right:.5rem;
				float:left;
			}
			
			&.address {
				.icon {
					background-position: 0px 4px;
					height: 30px;
				}
				br {
					display:none;
					@media (max-width: 1295px) {
						display:inline;
					}
				}
				span {
					min-height:3.2rem;
					line-height:3.4rem;
					@media (max-width: 1295px) {
						line-height: normal;
					}
				}
				@media (min-width: 1295px) {
					margin-top:-2px;
					.icon {
						background-position: 0px 0px;
					}
					span {
						line-height:2.2rem;
					}	
				}
			}
			
			&.phone {
				.icon {
					background-position: -29px 0;
				}
			}
			
			&.email {
				.icon {
					background-position: -62px 2px;
				}
			}
			
			&.time {
				margin-top:.1rem;
				.icon {
					background-position: -97px 2px;
				}
			}
			
			@media (max-width: 768px) {
				width:100%;
				margin-bottom:1rem;
			}
		}
		
		@media (max-width: 768px) {
			margin-top:2rem;
		}
	}
	
	.container {
		position:relative;
	}
	
	.hot-air-balloon {
		display:block;
		background: url('/cloudbridge/static/src/img/front/hot-air-balloon.png') no-repeat 0 0;
		background-size:100%;
		width:9.1rem;
		height:13.4rem;
		position:absolute;
		top: -6.5rem;
		right: 1.5rem;
		
		@media (max-width: 1140px) {
			top: -11.5rem;
			
			@media (max-width: 1045px) {
				top: -6.5rem;
			}
		}
	}
}
a.logo-footer {
	display:block;
	width:8.7rem;
	height:5.3rem;
	text-indent:-999.9rem;
	background: url('/cloudbridge/static/src/img/front/logo.png') no-repeat 0 0;
	background-size:100%;
	margin-right:3.7rem;
}




.oe_website_login_container {
	.container;
	width:100% !important;
	.oe_login_form {
		width:100% !important;
		max-width:100% !important;
		margin:0 !important;
		.btn {
			
			&.btn-success,
			&.btn-primary {
				font-size:1.4rem;
				height:4.1rem;
				line-height:4rem;
				padding:0 2.8rem;
				border-radius:5rem;
				background-color:@dark-turquoise-color;
				color:@white-color;
				border:none;
				
				.btn-hover;
				
				&:focus,
				&:active {
					background-color:@dark-turquoise-color;
					color:@white-color;
				}
				
				&:hover {
					opacity:0.9;
				}
			}
			&.btn-success {
				background-color:#286090;
			}
			&.btn-link {
				text-transform: none;
			}
		}
		
		.oe_login_buttons {
			margin-top:0 !important;
			margin-bottom:2rem;
			&:last-child{ 
				margin-bottom:0;
			}
			a {
				float:right;
				margin:0;
				padding:0;
				font-size:1.4rem;
				color:#786281;
				&:last-child{
					margin-right:2rem;
				}
				
			}
			.btn-primary {
				width: 100%;
				margin: 0 auto;
				display: block;
			}
			.pull-right {
				margin-bottom:2rem;
				a {
					margin:0;
				}
			}
		}
	}
	
}

.container-background {
	padding-bottom:7rem;
	padding-top:3rem;
	background: url('/cloudbridge/static/src/img/front/background.png') no-repeat 0 0;
	background-size:100%;
	background-attachment: fixed;
	.modal-dialog {
		margin:0 auto;
		.modal-content {
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.19);
		}
	}
}

.flexbox {
	display: flex;
}
.content-app {
	max-width: 1292px;
    margin: 0 auto;
}
.container-app {
	background-color:#ebebeb;
	padding-top:7.3rem;
	padding-bottom:20rem;
	.title {
		color:#2f2f2f;
		margin-bottom:3rem;
		.sub-title {
			color:#2f2f2f;
			font-size:1.8rem;
		}
	}
}
.content-app-list {
	.content-app-item {
		
		background-color:#fff;
		padding:6rem .5rem 5rem;
		border:.1rem solid #d1d1d1;
		box-shadow: 0.2rem 0.3rem 0.9rem rgba(76, 76, 76, 0.16);
		width:25%;
		float:left;
		margin:0 -.1rem;
		vertical-align:top;
		min-height:40.8rem;
		
		@media (max-width: 1000px) {
			width:50%;
			@media (max-width: 767px) {
				width:100%;
			}
		}
		
		.title-app {
			font-size:2.2rem;
			color:#786281;
			font-weight: normal;
			text-transform: uppercase;
			margin:2.2rem 0 2.9rem;
			.sub-app {
				display:block;
				text-transform: none;
				font-size:1.4rem;
				color:#000000;
				font-weight: 300;
				margin-top:.6rem;
			}
		}
		.function-list {
			list-style: none;
			margin:0;
			padding:0;
			li {
				font-size:1.8rem;
				color:#000000;
				font-weight: 300;
				margin-bottom:1.4rem;
				a {
					color:#000000;
				}
				&:last-child{
					margin-bottom:0;
				}
				&.show-list {
					position:relative;
					span {
						display:block;
						cursor: pointer;
						&:hover {
							text-decoration:underline;
						}
						&:after {
							content:"";
							display:inline-block;
							width: 0;
							height: 0;
							margin-left: 7px;
							color:#910d1a;
							vertical-align: middle;
							border-top: 5px solid transparent;
							border-left: 5px dashed;
							border-left: 5px solid\9;
							border-bottom: 5px solid transparent;
							border-right: 5px solid transparent;
							/* border-left: 5px solid transparent; */
						}
					}
					&.active {
						span {
							&:after {
								border-top: 5px dashed;
								border-top: 5px solid\9;
								border-left: 5px solid transparent;
								vertical-align: bottom;
							}
						}
					}
					.function-list {
						margin-top:1.4rem;
						display:none;
					}
				}
				
			}
		}
	}
}

.content-defaultapp {
	padding-bottom:8rem;
}

.content-defaultapp-list {
	.content-defaultapp-item {
		
		padding:3.1rem .5rem 0rem;
		width:25%;
		float:left;
		margin:0 -.1rem;
		vertical-align:top;
		
		@media (max-width: 1000px) {
			
			@media (max-width: 767px) {
				width:33%;
				@media (max-width: 600px) {
					width:49%;
				}
			}
		}
		
		.title-app {
			font-size:1.8rem;
			color:#323232;
			font-weight: normal;
			margin:3rem 0 2.3rem;
		}
	}
}


.container-video {
	padding-bottom:5rem;
	.title-video {
		padding:7.3rem 0 2.2rem;
		background: url('/cloudbridge/static/src/img/front/bg-video.png') no-repeat 0 0;
		background-size:100% 100%;
	}
}
.content-video {
	padding-top:3.9rem;
}

.box-video {
	border:.1rem solid #d8d8d8;
	margin-bottom:4.2rem;
	.name-video {
		font-size:2rem;
		color:#b61b2a;
		padding:1.7rem 1.8rem 1.6rem 1.8rem;
	}
	&:hover {
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
	}
}
.video-wrapper{
	position:relative;
	overflow:hidden;
	cursor: pointer;
	img {
		width:100%;
		height:226px;
		
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;

	}
	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 6rem;
		height: 3.7rem;
		margin-top: -1.7rem;
		margin-left: -3.1rem;
		cursor: pointer;
		background: url('/cloudbridge/static/src/img/front/play-button.png') no-repeat 0 0;
		background-size: 100%;
		
	}
	&:hover {
		img {
			-webkit-transform: scale(1);
			transform: scale(1);
		}
	}
}
	

#video-popup {
	visibility: hidden;
	display: block;
	&.open {
		visibility: visible;
	}
	
	.modal-dialog {
		position:absolute;
		top:50%;
		left:50%;
		background-color:transparent;
		-webkit-transform: translate3d(-50%, -50%, 0);
		-moz-transform: translate3d(-50%, -50%, 0);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate3d(-50%, -50%, 0);
		transform: translate3d(-50%, -50%, 0);
		
		@media (max-width: 750px) {
			width:300px;
			margin:0;
		}
		
	}
	&.modal {
		background: rgba(0,0,0,0.5);
		margin:0;
		@media (max-width: 750px) {
			margin:0;
		}
		iframe {
			width:100%;
			height:100%;
			min-height:400px;
			@media (max-width: 750px) {
				min-height:200px;
			}
		}
		.modal-content {
			background-color:transparent;
			box-shadow:none;
			border:none;
		}
	}
}








