


.breadcrumb-container {
	background-color:@white-color;
	padding:2.7rem 0;
}


.pricing-container {
	margin-bottom:6rem;
}

.pricing-title-container {
	background-color:@dark-gray-color;
	padding:3.1rem 0 11.1rem;
}

.sponsors-container {
	background-color:#b61b2a;
	padding:3.3rem 0 3.8rem;
	
	.title {
		margin-bottom:3.3rem;
	}
	
	ul {
		list-style: none;
		margin:0;
		padding:0;
		text-align:center;
		
		li {
			display:inline-block;
			padding:0 2.8rem;
			
			@media (max-width: 768px) {
				width:30%;
				margin-bottom:2rem;
				
				@media (max-width: 600px) {
					width:48%;
				}
			}
		}
	}
}


.needhelp-container {
	padding:5.6rem 0px 6rem;
	border-bottom:.8rem solid @white-lighter-color-dd;
	.title {
		color:@black-color;
		&.font-md {
			font-size:4.8rem;
		}
	}
	
	p {
		font-size:1.8rem;
		font-weight:300;
		margin: 1.9rem 0 3.3rem;
	}
	
	.btn.btn-default{
		height: 4.7rem;
		width: 29.7rem;
		font-size: 1.7rem;
	}
	
	&.need-help-style {
		background-color:#786281;
		border-bottom:none;
	}
}

.pricetable {
	color:@white-color;
	font-weight:300;
	text-align:center;
	margin-top:-7.7rem;
	
	.pricetable-column {
		background-color:@red-lighter-color-bd;
		padding-bottom:3rem;
		@media (min-width: 993px) {
			width:35rem;
		}
		&.highlight {
			background-color:@dark-orchidcolor-bd;
		}
		
	}
	.pricetable-column-wall {
		.pricetable-header {
			padding:0 1rem;
			
			.pricetable-fld-name {
				font-size:2.4rem;
				text-transform: uppercase;
				padding:2rem 0;
				
				strong {
					display:block;
					line-height: 2.5rem;
				}
			}
			
			.pricetable-header-inner {
				.pricetable-fld-price {
					font-size:9rem;
					font-weight:bold;
					line-height: 9.6rem;
					
					sub {
						font-size: 3.5rem;
						top: 3.3rem;
						margin-left: -.6rem;
						vertical-align: top;
					}
				}
				
				p{
					line-height:1.8rem;
					color:rgba(254, 252, 255, 0.45);
				}
			}
		}
	}
	
	ul.features {
		list-style: none;
		margin:0;
		padding:0;
		text-align:center;
		margin-top:3.6rem;
		
		li {
			font-size:1.8rem;
			padding: 2.3rem 4rem;
			line-height: 2.9rem;
			
			span {
				display:none;
				margin-bottom:1rem;
				
				@media (max-width: 993px) {
					display:block;
				}
			}
			
			.btn.btn-default {
				width:100%;
			}
			
			&:first-child {
				border-top:.1rem solid rgba(188, 177, 192, 0.52);
				border-bottom:.1rem solid rgba(188, 177, 192, 0.52);
			}
			
			&:nth-child(odd) {
				background-color:rgba(254, 252, 255, 0.35);
			}
			
			.fa {
				font-size:2.5rem;
			}
		}
	}
	.labeling {
		.labeling-list {
			list-style: none;
			margin:0;
			padding:0;
			font-size:1.4rem;
			font-weight: normal;
			color:@darker-black-color-37;
			text-align:right;
			margin-top: 24.9rem;
			
			li {
				padding:2.8rem 0;
				
				&.ps-one {
					padding: 4.3rem 0;
				}
				
				&.ps-two {
					padding: 3.3rem 0;
				}
			}
		}
		
		@media (max-width: 993px) {
			display:none;
		}
	}
}