

.banner-container {
	background-color:@red-bordeaux-color;
	padding:7.5rem 0 16.3rem;
	@media (max-width: 992px) {
		padding-top:2rem;
		padding-bottom:5rem;
	}
	.title {
		margin-bottom: 1rem;
	}
	.banner-text {
		p {
			font-size:1.8rem;
			color:@white-color;
			font-weight:300;
			line-height:3rem;
			margin-bottom:4.8rem;
		}
		.btn-default {
			height: 4.6rem;
			line-height: 4.6rem;
			font-size: 1.6rem;
			text-align: center;
			max-width: 29.8rem;
			display: block;
			@media (max-width: 992px) {
				margin:0 auto;
			}
		}
	}
	.banner-img {
		img {
			max-width:100%;
		}
		@media (max-width: 992px) {
			margin-top:3rem;
		}
	}
	@media (max-width: 1024px) {
		br {
			display:none;
		}
	}
	@media (max-width: 992px) {
		text-align:center;
		
		.banner-text {
			p {
				margin-bottom:2.2rem;
				font-size:1.4rem;
				line-height:2rem;
			}
		}
	}
}

.needapp-container {
	position:relative;
	overflow:hidden;
	margin-top:-15rem;
	.background-gradient;
	
	@media (max-width: 760px) {
		margin-top:-5rem;
	}
	
	.needapp-content {
		margin-top:14.2rem;
		
		&:before {
			.border-style;
			border-bottom-color:@white-color;
			
		}
		
		@media (max-width: 760px) {
			margin-top:5rem;
			
			&:before{
				border-bottom: 5rem solid @white-color;
			}
		}
	}
	
	.tab-needapp-content {
		margin-top: 3.2rem;
		
		@media (max-width: 760px) {
			margin-top:2rem;
		}
		
		.nav-tabs {
			border:none;
			margin-bottom:3.2rem;
			text-align:center;
			
			@media (max-width: 760px) {
				margin-bottom:1.5rem;
			}
			
			li {
				margin-bottom:.5rem;
				
				a {
					font-size:1.6rem;
					color: fade(@black-color, 50%);
					text-transform: uppercase;
					border:none;
					height:4.4rem;
					line-height:4.4rem;
					border-radius:5rem;
					padding:0 2.1rem;
				}
				
				&:hover,
				&.active {
					a {
						background-color:@dark-turquoise-color;
						color:@white-color;
					}
				}
				
				@media (max-width: 1006px) {
					width:32%;
					float:none;
					display:inline-block;
					
					@media (max-width: 679px) {
						width:49%;
						
						@media (max-width: 453px) {
							a {	
								font-size:1.2rem;
								height:3.4rem;
								line-height:3.4rem;
								padding:0 1rem;
							}
						}
					}
				}
			}
		}
		
		.tab-content {
			img {
				max-width:100%;
			}
		}
	}
}

.quote-container {
	padding:7.7rem 0 0;
	@media (max-width: 679px) {
		padding-top:1.8rem;
	}
	.avatar-content {
		float:left;
		margin-right:3.6rem;
		img {
			width:10rem;
			height:10rem;
			border-radius:50%;
		}
		@media (max-width: 679px) {
			float:none;
			margin:0 auto;
			text-align:center;
		}
	}
	
	.quote-content {
		overflow:hidden;
		h4 {
			font-size:1.4rem;
			font-weight: 600;
			text-align:center;
			margin-top:1.8rem;
			@media (max-width: 679px) {
				line-height:1.8rem;
			}
		}
		
		p {
			font-size:1.4rem;
			line-height:2.4rem;
			color:@darker-black-color-27;
			padding:.9rem 2.2rem;
			text-align:center;
			position:relative;
			
			&:after,
			&:before {
				content: "";
				display: block;
				width: 1.6rem;
				height: 1.5rem;
				background: url('/cloudbridge/static/src/img/front/quote.png') no-repeat 0 0;
				background-size: 100%;
				position: absolute;
			}
			&:after {
				bottom:-.2rem;
				right:.1rem;
			}
			&:before {
				top: .2rem;
				left: .1rem;
				transform: rotate(180deg);
			}
			
			@media (max-width: 679px) {
				padding:1.2rem 2.2rem;
				br {
					display:none;
				}
			}
		}
	}
	
	.swiper-container {
		padding-bottom:4.7rem;
		@media (max-width: 679px) {
			padding-bottom:2rem;
		}
		.swiper-slide {
			background-color:@white-color;
			/* visibility: hidden;
			&.swiper-slide-active {
				visibility: initial;
			} */
		}
		
		.swiper-pagination {
			bottom:-.3rem;
			
			.swiper-pagination-bullet {
				width:1.5rem;
				height:1.5rem;
				margin:0 1rem;
				background-color:@darker-black-color-27;
				opacity:1;
				
				&:hover,
				&.swiper-pagination-bullet-active {
					background-color:@red-bordeaux-color;
				}
			}
		}
	}
	
	.img-laptop {
		max-width:100%;
		width:100%;
		margin-top:6.8rem;
		@media (max-width: 679px) {
			margin-top:2rem;
		}
	}
	
}

.value-container {
	position:relative;
	overflow:hidden;
	margin-top:-15rem;
	border-bottom:.7rem solid @white-color;
	@media (max-width: 760px) {
		margin-top:-5rem;
	}
	.value-box {
		background: url('/cloudbridge/static/src/img/front/br-right.png') no-repeat right 9rem;
		padding-bottom:6rem;
	}
	.value-content {
		margin-top:15rem;
		background: url('/cloudbridge/static/src/img/front/br-left.png') no-repeat 0 9rem;
		background-color:@cyan-color;
		
		&:before {
			.border-style;
			border-bottom-color:@cyan-color;
			z-index:9;
		}
		&:after {
			.border-style;
			border-bottom: 15rem solid;
			border-bottom-color:@white-color;
			
			z-index:8;
			left:-135px;
		}
		@media (max-width: 1370px) {
			&:after {
				
				left:-83px;
			}
		}
		@media (max-width: 760px) {
			margin-top:5rem;
			&:after {
				border-bottom: 5rem solid @white-color;
				left:-63px;
				@media (max-width: 460px) {
					left:-23px;
				}
			}
			&:before{
				border-bottom: 5rem solid @cyan-color;
			}
		}
	}
	
}

.circles-value {
	margin-top:6.9rem;
	text-align:center;
	@media (max-width: 660px) {
		margin-top:2rem;
	}
}

.circles-value-content {
	width:27rem;
	height:27rem;
	border:2rem solid #42c2a8;
	background-color:@white-color;
	border-radius:50%;
	text-align:center;
	font-weight: 300;
	padding: 5.1rem 2rem 3.2rem;
	display:inline-block;
	margin:0 5.7rem;
	
	@media (max-width: 1208px) {
		margin:0 2.7rem;
		
		@media (max-width: 1026px) {
			margin:0 1.7rem;
			@media (max-width: 660px) {
				margin:0 0 1rem 0;
			}
		}
	}
	
	.text-value {
		display:block;
		font-size:2.4rem;
		color:#786281;
		&.text-xs {
			font-size:1.8rem;
			min-height:2.5rem;
		}
		
	}
	.number-value {
		font-size:6rem;
		color:@cyan-color;
		line-height:7.6rem;
	}
}

.aboutus-container {
	margin-top:9.6rem;
	@media (max-width: 760px) {
		margin-top:3rem;
	}
	.aboutus-text {
		margin-top:-.6rem;
		p {
			font-size:1.8rem;
			color:@white-color;
			line-height:2.5rem;
			margin-bottom:2.2rem;
		}
	}
	.aboutus-img {
		img {
			max-width:100%;
		}
	}
}



.contactus-container {
	position:relative;
	
	iframe {
		width:100% !important;
		height:100%;
		position:absolute;
		top:0;
		left:0;
	}
	@media (max-width: 1000px) {
		iframe {
			position:static;
			height:20rem;
		}
	}
	.container-sm {
		@media (max-width: 1000px) {
			text-align:center;
		}
		.contactus-content {
			padding: 2.9rem 8.7rem 1.9rem 2.9rem;
			background-color:@white-color;
			display:inline-block;
			position:relative;
			z-index:9;
			@media (max-width: 1000px) {
				padding: 2.9rem;
				text-align:left;
			}
		}
		h3 {
			font-size:4.8rem;
			font-weight:bold;
			color:@red-color-b6;
			position:relative;
			padding-bottom:1rem;
			margin-bottom:4.4rem;
			margin-top:0;
			
			&:after {
				content:"";
				display:block;
				position:absolute;
				left:0;
				bottom:0;
				width:8.4rem;
				height:.3rem;
				background-color:#d9d9d9;
			}
		}
		p {
			font-size:3rem;
			color:#2f2f2f;
			line-height:4.5rem;
			font-weight:300;
			a {
				color:@red-color-b6;
				text-decoration:underline;
			}
		}
		@media (max-width: 750px) {
			h3 {
				font-size:2.5rem;
				margin-bottom:2rem;
			}
			p {
				font-size:1.8rem;
				line-height:2.5rem;
			}
		}
	}
	
}


