
@background-url:"/cloudbridge/static/src/img/front/sprite.png";

@white-color: #ffffff;
@white-lighter-color-dd: #dddddd;

@black-color: #000000;
@darker-black-color: #211819;
@darker-black-color-37: #373d44;
@darker-black-color-27: #2f2f2f;

@red-bordeaux-color:#820915;
@red-color-b6:#b61b2a;

@red-lighter-color:#9b3a44;
@red-lighter-color-bd:#bd2533;


@dark-orchidcolor-bd:#786281;


@dark-turquoise-color:#00a69b;
@rosy-brown-color:#786281;
@dark-gray-color:#ebebeb;

@cyan-color:#21b799;